Matasanos/InterfacesMatasanos/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EN" />
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pValidar" nillable="true" type="q1:UsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarSesionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q2:UsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q3:UsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q4:UsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarUsuariosResult" nillable="true" type="q5:ArrayOfUsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pUsuario" nillable="true" type="q6:UsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q7:ArrayOfUsuarioEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pValidar" nillable="true" type="q8:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q9:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarMedicoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q10:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMedicoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q11:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMedicoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarMedico">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarMedicoResult" nillable="true" type="q12:ArrayOfMedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicoApellido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pMedicoEN" nillable="true" type="q13:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicoApellidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarMedicoApellidoResult" nillable="true" type="q14:ArrayOfMedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicoEspecialidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pMedicoEN" nillable="true" type="q15:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMedicoEspecialidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarMedicoEspecialidadResult" nillable="true" type="q16:ArrayOfMedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pMedicoEN" nillable="true" type="q17:MedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="ObtenerImagenResult" nillable="true" type="q18:ArrayOfMedicoEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReguistraEnfermero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q19:EnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReguistraEnfermeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReguistraEnfermeroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEnfermeras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q20:EnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarEnfermerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarEnfermerasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEnfermeras">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q21:EnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEnfermerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarEnfermerasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarEnfermeras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarEnfermerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarEnfermerasResult" nillable="true" type="q22:ArrayOfEnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEnfermera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEnfermera" nillable="true" type="q23:EnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEnfermeraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarEnfermeraResult" nillable="true" type="q24:ArrayOfEnfermeraEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q25:HistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarHistorialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q26:HistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarHistorialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarHistorial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarHistorialResult" nillable="true" type="q27:ArrayOfHistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pHistorial" nillable="true" type="q28:HistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarHistorialResult" nillable="true" type="q29:ArrayOfHistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPorFechaEntrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pHistorial" nillable="true" type="q30:HistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPorFechaEntradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarHistorialPorFechaEntradaResult" nillable="true" type="q31:ArrayOfHistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPorFechaAlta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pHistorial" nillable="true" type="q32:HistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarHistorialPorFechaAltaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarHistorialPorFechaAltaResult" nillable="true" type="q33:ArrayOfHistorialEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCama">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q34:CamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarCamaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCama">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q35:CamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCamaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCama">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q36:CamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCamaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarCama">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarCamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarCamaResult" nillable="true" type="q37:ArrayOfCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCamaPlanta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pCama" nillable="true" type="q38:CamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCamaPlantaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarCamaPlantaResult" nillable="true" type="q39:ArrayOfCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q40:PacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarPacienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q41:PacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPacienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPaciente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarPacienteResult" nillable="true" type="q42:ArrayOfPacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPacientePordni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pPaciente" nillable="true" type="q43:PacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPacientePordniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarPacientePordniResult" nillable="true" type="q44:ArrayOfPacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPacientePorEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pPaciente" nillable="true" type="q45:PacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPacientePorEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarPacientePorEstadoResult" nillable="true" type="q46:ArrayOfPacienteEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCamaAPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q47:PacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCamaAPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarCamaAPacienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCamaAPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pModificar" nillable="true" type="q48:PacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCamaAPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCamaAPacienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCamaAPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q49:PacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCamaAPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCamaAPacienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPacienteCama">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarPacienteCamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarPacienteCamaResult" nillable="true" type="q50:ArrayOfPacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscraCamaPacientePorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pPC" nillable="true" type="q51:PacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscraCamaPacientePorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscraCamaPacientePorFechaResult" nillable="true" type="q52:ArrayOfPacienteCamaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVisita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q53:VisitaMedicaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarVisitaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVisita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q54:VisitaMedicaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarVisitaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarVisita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostrarVisitaResult" nillable="true" type="q55:ArrayOfVisitaMedicaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVisita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pVisita" nillable="true" type="q56:VisitaMedicaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVisitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarVisitaResult" nillable="true" type="q57:ArrayOfVisitaMedicaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPlanta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pAgregar" nillable="true" type="q58:PlantaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPlantaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarPlantaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPlanta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pEliminar" nillable="true" type="q59:PlantaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPlantaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPlantaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostraPlantas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostraPlantasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="MostraPlantasResult" nillable="true" type="q60:ArrayOfPlantaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPlanta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="pPlanta" nillable="true" type="q61:PlantaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPlantaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/EN" minOccurs="0" name="BuscarPlantaResult" nillable="true" type="q62:ArrayOfPlantaEN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>